<!-- Header -->
<header id="header" {% if page.layout=='landing' %} class="alt" {% endif %}>
    <h1><a href="{{ site.baseurl }}/index.html"><i>{{ site.title }}</i></a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog/">Blog</a> </li>
                        <li><a href="/papers/">Publications</a> </li>
                        <li><a href="/posters/">Posters</a> </li>
                        <li><a href="/presentations/">Presentations</a> </li>
                        <li><a href="/datas/">Data Releases</a> </li>
                        <li><a href="/cv/FeldmannMJ_CV.pdf">CV</a> </li>
                        <br><br><br>
                        <ul class="icons">
                            {% for socloc in site.social %} {% if socloc[1] %} {% if socloc[0] == 'email' %}
                            <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"><span class="label">E-mail</span></a></li>
                            {% else %}
                            <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"><span class="label">{{ socloc[0] }}</span></a></li>
                            {% endif %} {% endif %} {% endfor %}
							<br>
                            <small><li>&copy; {{ site.owner }}</li></small>
                        </ul>

                    </ul>
                </div>
            </li>
        </ul>
    </nav>

</header>